<div class="dailies">
    {{#each dailies as |daily|}}
    <div class="daily">
        <span class="name">{{daily.label}}</span>
        <input type="checkbox" name="daily-enabled" data-daily-key="{{daily.key}}" {{checked
            daily.enabled}}>
    </div>
    {{/each}}
</div>