[id^="pf2e-dailies-settings-"] {
    --daily-hover-color: #00000026;

    max-height: 80%;
    width: 300px;

    .window-content {
        gap: 1em;
    }

    .familiar {
        .group {
            display: grid;
            grid-template-columns: 1fr min-content;
            align-items: center;
            gap: 0.5em;
            padding-inline: 0.2em;

            input[type="number"] {
                width: 4ch;
                border: 1px solid var(--color-border-light-tertiary);
                border-radius: 3px;
                text-align: center;
            }
        }
    }

    .dailies {
        display: flex;
        flex-direction: column;
        gap: 0.3em;

        .daily {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 5px;

            &:hover {
                background: var(--daily-hover-color);
            }
        }
    }
}
