[id^="pf2e-dailies-settings-"] {
    --daily-hover-color: #ffffff26;

    max-height: 80%;
    width: 300px;

    .window-content {
        padding: 0.5em 0.6em;

        h3:not(:first-child) {
            margin-top: 1em;
        }

        .familiar {
            input[type="number"] {
                height: 1.6em;
                flex: 0 0 2em;
                font-size: unset;
            }
        }

        .daily {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 5px;

            &:hover {
                background: var(--daily-hover-color);
            }
        }
    }
}

.theme-light [id^="pf2e-dailies-settings-"] {
    --daily-hover-color: #00000026;
}
