.application.dialog {
    &.pf2e-dailies-mind-weapon,
    &.pf2e-dailies-spontaneous {
        .dialog-content {
            gap: 0.5em;

            .flavor {
                text-align: center;
                font-size: 1.1em;
                margin-bottom: 0.5em;
            }

            label {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }
        }
    }

    &.pf2e-dailies-mind-weapon {
        label {
            &.runes {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    &.pf2e-dailies-spontaneous {
        h3 {
            font-size: 1.5em;
            padding-left: 0.3em;
        }
    }

    &.pf2e-dailies-retrain {
        width: min-content;

        label {
            white-space: nowrap;
        }

        .form-fields {
            flex: 1;
        }
    }
}
