.application.dialog {
    .pf2e-dailies-spontaneous {
        margin-bottom: 0.7em;

        strong {
            white-space: nowrap;
        }

        .hint {
            text-align: center;
        }

        h3 {
            font-size: 1.5em;
            padding-left: 0.3em;
        }

        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            margin: 0 0 0 0.3em;
        }

        input {
            margin-right: 0.3em;
        }
    }

    .pf2e-dailies-migration {
        h3 {
            font-size: 1.5em;
            margin: 0;
        }
    }

    .pf2e-dailies-mind-weapon {
        .flavor {
            text-align: center;
        }

        input {
            margin-right: 0.5em;
        }

        .runes {
            margin-left: 1em;
        }
    }
}
