#pf2e-dailies-homebrews-menu {
    aside.sidebar {
        nav {
            padding-top: 0.5em;
        }
    }

    form {
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 1em;

        .scrollable {
            flex: 1;
            overflow: hidden auto;

            .entry {
                gap: 0.5em;
                display: grid;
                grid-template-columns: auto 1fr auto;
                align-items: center;
                height: 2.5em;

                img,
                .pack {
                    width: 2rem;
                    height: 2rem;
                }

                .pack {
                    font-size: 2em;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:not(:first-child) {
                    margin-top: 0.3em;
                }
            }
        }

        footer {
            flex: 0;
            display: flex;
            align-items: center;
            gap: 1em;

            button {
                width: max-content;
                white-space: nowrap;
            }
        }
    }
}
