[id^=pf2e-dailies-] .groups {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  -moz-column-gap: 1em;
       column-gap: 1em;
}
[id^=pf2e-dailies-] .groups section {
  width: 350px;
}
[id^=pf2e-dailies-] .group {
  width: 350px;
  padding-inline: 0.2em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  gap: 0.2em;
}
[id^=pf2e-dailies-] .group h3 {
  grid-column: 1/5;
}
[id^=pf2e-dailies-] .group [data-action=clear] {
  font-size: 1.2em;
}
[id^=pf2e-dailies-] .group input:disabled {
  color: inherit;
}
[id^=pf2e-dailies-] a.disabled {
  text-shadow: none;
  color: grey;
  pointer-events: none;
}
[id^=pf2e-dailies-] .buttons {
  display: flex;
  margin-top: 1em;
}