[id^='pf2e-dailies-'] {
    .groups {
        display: grid;
        grid-auto-flow: column;
        align-items: start;
        column-gap: 1em;

        section {
            width: 350px;
        }
    }

    .group {
        width: 350px;
        padding-inline: 0.2em;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        column-gap: 0.5em;
        gap: 0.2em;

        h3 {
            grid-column: 1 / 5;
        }

        [data-action='clear'] {
            font-size: 1.2em;
        }

        input:disabled {
            color: inherit;
        }
    }

    a.disabled {
        text-shadow: none;
        color: grey;
        pointer-events: none;
    }

    .buttons {
        display: flex;
        margin-top: 1em;
    }
}
