[id^='pf2e-dailies-'] {
    .groups {
        display: grid;
        // grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-flow: column;
        column-gap: 1em;

        section {
            width: 350px;
        }
    }

    .group {
        padding-inline: 0.2em;
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 0.2em;
        column-gap: 0.5em;

        &:not(:first-child) {
            margin-top: 1em;
        }

        h3 {
            grid-column: 1 / 5;
        }

        [data-action='clear'] {
            font-size: 1.2em;
        }

        a.disabled {
            text-shadow: none;
            color: grey;
            pointer-events: none;
        }

        input:disabled {
            color: inherit;
        }
    }

    .buttons {
        display: flex;
        margin-top: 1em;
    }
}
