.actor.sheet.character .crb-style aside .sidebar a.roll-icon.dailies {
  padding: 4px 0 0 0;
}
.actor.sheet.character .crb-style aside .sidebar a.roll-icon.dailies i {
  font-size: 1.1rem;
}

.app.window-app.dialog .window-content .dialog-content .dailies-center {
  margin: 0 0 0.6em 0;
  text-align: center;
  padding-inline: 1em;
}