[id^='pf2e-dailies-interface-'] {
    max-height: 80%;

    .window-content {
        .content {
            display: grid;
            grid-auto-flow: row;
            gap: 1em;

            hr:last-child {
                display: none;
            }
        }

        .group {
            width: 350px;
            display: grid;
            gap: 0.2em 0.5em;
            align-items: center;
            grid-template-columns: auto 1fr auto auto;
            padding-inline: 0.3em;

            [data-action='clear'] {
                font-size: 1.2em;
                margin-right: 0.2em;
            }

            input.input {
                grid-column: 2 / -2;
            }

            h3 {
                grid-column: 1 / -1;
            }

            select {
                grid-column: 2 / -1;
            }
        }

        select,
        option {
            text-transform: capitalize;
        }

        select,
        option,
        input {
            color: var(--color-text-dark-primary);
        }

        input {
            padding-inline: 4px;
            &.drop:disabled {
                color: inherit;
            }
        }

        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 1em;
            column-gap: 0.3em;
        }
    }

    &.disabled {
        .window-content {
            a,
            input,
            select,
            option,
            button,
            input.drop {
                color: var(--color-text-dark-inactive);
                pointer-events: none;
            }
        }
    }
}
