[id^=pf2e-dailies-interface-] {
  max-height: 80%;
}
[id^=pf2e-dailies-interface-] .window-content .content {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
}
[id^=pf2e-dailies-interface-] .window-content .content hr:last-child {
  display: none;
}
[id^=pf2e-dailies-interface-] .window-content .group {
  width: 350px;
  display: grid;
  gap: 0.2em 0.5em;
  align-items: center;
  grid-template-columns: auto 1fr auto auto;
  padding-inline: 0.3em;
}
[id^=pf2e-dailies-interface-] .window-content .group [data-action=clear] {
  font-size: 1.2em;
  margin-right: 0.2em;
}
[id^=pf2e-dailies-interface-] .window-content .group input.input {
  grid-column: 2/-2;
}
[id^=pf2e-dailies-interface-] .window-content .group h3 {
  grid-column: 1/-1;
}
[id^=pf2e-dailies-interface-] .window-content .group select {
  grid-column: 2/-1;
}
[id^=pf2e-dailies-interface-] .window-content .rows {
  grid-template-columns: minmax(120px, auto) 1fr auto auto;
}
[id^=pf2e-dailies-interface-] .window-content select,
[id^=pf2e-dailies-interface-] .window-content option {
  text-transform: capitalize;
}
[id^=pf2e-dailies-interface-] .window-content select,
[id^=pf2e-dailies-interface-] .window-content option,
[id^=pf2e-dailies-interface-] .window-content input {
  color: var(--color-text-dark-primary);
}
[id^=pf2e-dailies-interface-] .window-content input {
  padding-inline: 4px;
}
[id^=pf2e-dailies-interface-] .window-content input.drop:disabled {
  color: inherit;
}
[id^=pf2e-dailies-interface-] .window-content .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
  -moz-column-gap: 0.3em;
       column-gap: 0.3em;
}
[id^=pf2e-dailies-interface-].disabled .window-content a,
[id^=pf2e-dailies-interface-].disabled .window-content input,
[id^=pf2e-dailies-interface-].disabled .window-content select,
[id^=pf2e-dailies-interface-].disabled .window-content option,
[id^=pf2e-dailies-interface-].disabled .window-content button,
[id^=pf2e-dailies-interface-].disabled .window-content input.drop {
  color: var(--color-text-dark-inactive);
  pointer-events: none;
}