[id^='pf2e-dailies-interface-'] {
    max-height: 80%;

    .window-content {
        position: relative;

        .content {
            display: grid;
            grid-auto-flow: row;
            gap: 1em;

            hr:last-child {
                display: none;
            }
        }

        .group {
            width: 350px;
            display: grid;
            gap: 0.2em 0.5em;
            align-items: center;
            grid-template-columns: minmax(70px, auto) 1fr auto auto;
            padding-inline: 0.3em;

            [data-action='clear'] {
                font-size: 1.2em;
                margin-right: 0.2em;
            }

            input.input {
                grid-column: 2 / -2;
            }

            h3 {
                grid-column: 1 / -1;
            }

            select {
                grid-column: 2 / -1;
            }
        }

        .rows {
            grid-template-columns: minmax(120px, auto) 1fr auto auto;
        }

        select,
        option,
        label {
            text-transform: capitalize;
        }

        select,
        option,
        input {
            color: var(--color-text-dark-primary);
        }

        input {
            padding-inline: 4px;
            &.drop:disabled {
                color: inherit;
            }
        }

        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 1em;
            column-gap: 0.3em;
        }
    }

    .cover {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.411);
        display: flex;
        justify-content: center;
        align-items: center;

        .loader {
            border: 1em solid var(--color-border-light-primary);
            border-top-color: var(--color-border-dark-primary);
            border-radius: 50%;
            width: 30%;
            aspect-ratio: 1/1;
            animation: spin 2s linear infinite;
            margin-top: -10px;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    &:not(.disabled) {
        .window-content {
            .cover {
                display: none;
            }
        }
    }
}
