#pf2e-dailies-interface {
    max-height: 80%;

    .window-content {
        position: relative;
        background: url(/ui/parchment.jpg) repeat;

        .content {
            display: grid;
            grid-auto-flow: row;
            gap: 1em;

            hr:last-child {
                display: none;
            }
        }

        .group {
            width: 350px;
            display: grid;
            gap: 0.2em 0.5em;
            align-items: center;
            grid-template-columns: minmax(70px, auto) 1fr auto auto;
            padding-inline: 0.3em;

            [data-action='clear'] {
                font-size: 1.2em;
                margin-right: 0.2em;
            }

            input.input,
            input.alert {
                grid-column: 2 / -2;
            }

            h3 {
                grid-column: 1 / -1;
            }

            select {
                grid-column: 2 / -1;
            }

            select.random {
                pointer-events: none;
                appearance: none;
                grid-column: 2 / -2;
            }

            .combo {
                grid-column: 2 / -1;
                position: relative;

                select,
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }

                input {
                    width: calc(100% - 20px);
                    border-radius: 3px 0 0 3px;
                }

                select {
                    width: 100%;
                }
            }

            .alert {
                color: #830000;
            }
        }

        .rows {
            grid-template-columns: minmax(120px, auto) 1fr auto auto;
        }

        select,
        option,
        label {
            text-transform: capitalize;
        }

        input,
        select {
            border-radius: 3px;
        }

        .combo,
        select,
        option,
        input,
        input:disabled,
        select:disabled {
            color: var(--color-text-dark-primary);
            height: 26px;
        }

        input:not(:disabled) {
            background: url(/ui/parchment.jpg) repeat;
            background-color: #d9d9cd;
        }

        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 1em;
            column-gap: 0.3em;
        }
    }

    .cover {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.411);
        display: flex;
        justify-content: center;
        align-items: center;

        .loader {
            border: 1em solid var(--color-border-light-primary);
            border-top-color: var(--color-border-dark-primary);
            border-radius: 50%;
            height: min(25%, 8em);
            aspect-ratio: 1/1;
            animation: spin 2s linear infinite;
            margin-top: -10px;
        }
    }

    &.disabled {
        .window-content {
            pointer-events: none;
        }
    }

    &:not(.disabled) {
        .window-content {
            .cover {
                display: none;
            }
        }
    }
}
